/* tables */
table.tablesorter {
	font-family:Helvetica,sans-serif;
	background-color: #337ab7;
	margin: auto;
	font-size: 14px;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #31708f;
	border: 1px solid #FFF;
	font-size: 14px;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	color:#eee;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #333;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
	border: 1px solid #eee;
}
table.tablesorter tbody tr.odd td {
	background-color:#337ab7;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #337ab7;
}
 